body {
  background: radial-gradient(ellipse at center, #7d7e7d 0%, #0e0e0e 100%) fixed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  height: 100%;
  width: fit-content;
  margin: 50px auto;
  padding: 15px;
  border: 1px solid #000000;
  border-radius: 5px;

  .sub-container {
    padding: 15px;

    .inflow-image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      input[type=range][orient=vertical] {
        writing-mode: bt-lr; /* IE */
        -webkit-appearance: slider-vertical; /* WebKit */
        width: 8px;
        height: 175px;
        padding: 0 5px;
      }
    }

    .menu-list {
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      margin: 0;
      padding: 0;  
      text-align: center;    

      li {
        display: inline-block;
        margin: 5px 7px;
        font-weight: bold;
        border-bottom: 1px solid black;
      }
    }

  }   

  .clickable {
    cursor: pointer;
  }

  .image-wrapper {
    text-align: center;
    margin: 15px;
    border: 1px solid black;

    width: 450px;
      height: 220px;  

    img {
      // width: auto;
      // height: auto;
      margin: 0 auto;  

      width: 450px;
      height: 220px;   
    }
  }
}