body {
  background: radial-gradient(ellipse at center, #7d7e7d 0%, #0e0e0e 100%) fixed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  height: 100%;
  width: fit-content;
  margin: 50px auto;
  padding: 15px;
  border: 1px solid #000000;
  border-radius: 5px;

  .sub-container {
    padding: 15px;
  }   

  .custom-tabs {
    text-align: center;
  }

  .image-wrapper {
    text-align: center;
    margin: 15px;

    img {
      width: auto;
      height: auto;
      margin: 0 auto;
    }
  }
}